{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
  <div>
    <div id="navbar">
    <a href="/posts/"><img src="https://as1.ftcdn.net/v2/jpg/04/10/03/44/1000_F_410034499_ZPhVBDgNVG5H35YN1u4XdSZfMOpKCWPc.jpg" style="width: 40px; height: auto;"></a>
    <h1 style="font-weight:bold">Add Post</h1>
    </div>
    <div id="post-add">
      <form method="POST">
        {% csrf_token %}
        <div>
          <label style="font-weight:bold;">제목</label>
          <input name="title" type="text">
        </div>
        <div>
          <label style="font-weight:bold;">내용</label>
          <textarea name="content" cols="50" rows="15"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">작성</button>
      </form>
    </div>

</body>
</html>